body {
	font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-logo {
	margin-top: 20px;
}

.title-super {
	font-size: 60px;
}

hr {
	width: 100%;
	border: none;
    height: 2px;
    /* Set the hr color */
    color: gray; /* old IE */
    background-color: gray; /* Modern Browsers */
}

.project-link {
	text-decoration: none !important;
}